@media (min-width: 320px) and (max-width: 479px){
  .menu-min{
    display: block;
  }
  .slider-logo-sub{
    top: 18%;
    font-size: 18px;
  }
  .header-logo{
    display: block;
    width: 100%;
    padding-left: 78px;
  }
  .header-menu, .header-phone{
    display: none;
  }
  .slider-wrap {
    height: 235px;
  }
  .slider-logo{
    top: 135px;
    font-size: 68px;
  }
  .main{
    height: 980px;
  }
  .main-left-list{
    margin-top: -33px;
    text-align: center;
    padding-left: 0;
  }
  .main-right-list{
    text-align: center;
    padding-left: 0;
  }
  .title{
    font-size: 22px;
    padding-bottom: 25px;
  }
  .main-list-item-icon-left, .main-list-item-icon-right {
    top: -7px;
  }
  .partners-cards {
    height: 250px;
  }
  .main-list-item {
    margin: 30px 0 30px 0;
  }
  .main-list-item-icon-right{
    margin-right: 0;
  }
  .main-img{
    width: 255px;
  }
  .main-img-wrap{
    text-align: center;
  }
  .partners-img {
    height: 210px;
    width: 288px;
  }
  .partners {
    text-align: center;
    padding: 28px 0 0px 0;
  }
  .footer-contacts{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .footer-circle{
    top: 44px;
  }
  .footer{
    height: 870px;
  }
  .footer-social{
    height: 100px;
    text-align: center;
  }
  .footer-social-wrap{
    margin-left: 0;
  }
  .footer-phone-right{
    margin-top: 19px;
  }
  .footer-phone-wrap{
    position: static;
  }
  .footer-circle {
    top: 92px;
  }
  .footer-social-wrap{
    display: block;
  }
  .about-slider-wrap{
    width: 300px;
  }
  .about{
    height: 965px;
  }
  .about-btn-prev, .about-btn-next{
    top: 66px;
  }
  .about-first-row {
    height: 128px;
  }
  .about-slider {
    height: 200px;
  }
  .about-title{
    text-align: center;
  }
  .about-second-row{
    padding: 40px 10px 0 10px;
  }
  .about-text{
    font-size: 12px;
  }
  .footer-logo-img {
    position: static;
  }
  .footer-logo-subspan {
    left: 0;
    top: -32px;
    color: #f2b10d;
  }
}

@media (min-width: 480px) and (max-width: 768px){
  .slider-logo-sub{
    font-size: 23px;
    top: 21%;
  }
  .header-logo{
    display: block;
    width: 100%;
    padding-left: 90px;
  }
  .header-menu, .header-phone{
    display: none;
  }
  .slider-wrap {
    height: 322px;
  }
  .slider-logo{
    top: 185px;
    font-size: 68px;
  }
  .main{
    height: 980px;
  }
  .main-left-list{
    margin-top: -33px;
    text-align: center;
  }
  .main-right-list{
    text-align: center;
    padding-left: 0;
  }
  .main-list-item {
    margin: 30px 0 30px 0;
  }
  .main-list-item-icon-right{
    margin-right: 0;
  }
  .main-img{
    width: 255px;
  }
  .main-img-wrap{
    text-align: center;
  }
  .partners-img {
    height: 300px;
    width: 450px;
  }
  .partners {
    text-align: center;
    padding: 28px 0 0px 0;
  }
  .footer-contacts{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .footer-circle{
    top: 44px;
  }
  .about-slider-wrap{
    width: 465px;
  }
  .about-btn-prev, .about-btn-next{
    top: 115px;
  }
  .about-first-row {
    height: 226px;
  }
  .about-second-row {
    padding: 50px 10px 0 10px;
  }
  .about {
    height: 1150px;
  }
  .footer-logo-wrap{
    margin-top: -83px;
  }
  .footer-logo-subspan {
    left: 0;
    top: -32px;
    color: #f2b10d;
  }
}

@media (min-width: 769px) and (max-width: 991px){
  .header-logo{
    display: block;
    width: 100%;
    padding-left: 90px;
  }
  .header-menu, .header-phone{
    display: none;
  }
  .slider-wrap {
    height: 421px;
  }
  .slider-logo{
    top: 228;
    font-size: 68px;
  }
  .main{
    height: 980px;
  }
  .main-left-list{
    margin-top: -33px;
    text-align: center;
  }
  .main-right-list{
    text-align: center;
    padding-left: 0;
  }
  .main-list-item {
    margin: 30px 0 30px 0;
  }
  .main-list-item-icon-right{
    margin-right: 0;
  }
  .main-img{
    width: 255px;
  }
  .main-img-wrap{
    text-align: center;
  }
  .partners-img {
    height: 300px;
    width: 450px;
  }
  .partners {
    text-align: center;
    padding: 28px 0 0px 0;
  }
  .footer-contacts{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .footer-circle{
    top: 44px;
  }
  .about-slider-wrap{
    width: 745px;
  }
  .about-btn-prev, .about-btn-next{
    top: 185px;
  }
  .about-first-row {
    height: 389px;
  }
  .about{
    height: 1185px;
  }
  .about-second-row {
    padding: 50px 40px 0 40px;
  }
  .footer-logo-wrap{
    margin-top: -75px;
  }
  .footer-logo-subspan {
    left: 0;
    top: -32px;
    color: #f2b10d;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .slider-wrap {
    height: 602px;
  }
  .slider-logo{
    top: 315px;
  }
  .header-menu-list {
    font-size: 13px;
  }
  .header-phone-number {
    font-size: 13px;
    position: relative;
    top: -1px;
  }
  .header-phone-icon{
    position: relative;
    top: -1px;
  }
  .main-text {
    width: 185px;
    font-size: 21px;
  }
  .main-img {
    margin-top: 38px;
  }
  .main-list-item-icon-right {
    margin-right: 11px;
  }
  .main {
    height: 633px;
  }
  .footer {
    height: 650px;
  }
  .partners-img {
    width: 450px;
    height: 300px;
  }
  .partners {
    padding: 28px 0 0px 0;
  }
  .header-logo-subspan {
    position: relative;
    left: 15px;
    top: -20px;
    display: block;
  }
  .about-second-row {
    padding: 50px 30px 0 30px;
  }
  .footer-logo-subspan {
    left: 0;
    top: -32px;
    color: #f2b10d;
  }
  .footer-logo-wrap{
    margin-top: -75px;
  }
  .footer-phone{
    color: #e2dcf1;
  }
  .footer-contacts p{
    margin: 30px 10px;
  }
}

@media (min-width: 1201px){
  .slider-logo{
    top: 380px;
  }
  .header-logo-subspan {
    position: relative;
    left: 15px;
    top: -20px;
    display: block;
  }
  .footer-logo-subspan {
    left: 0;
    top: -32px;
    color: #f2b10d;
  }
  .footer{
    height: 650px;
  }
  .footer-logo-wrap{
    margin-top: -75px;
  }
}
