.button-delete {
  height: 70px;
  width: 250px;
  font-size: 20px;
  display: block;
  margin: 40px auto;
  background-color: #48bd15;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.5);
}

.button-delete:hover {
  background-color: #005e00;
}

.modal-header {
  height: 50px;
  background: #70c849;
  border-radius: 5px 5px 0 0;
  border: none;
  box-shadow: 0em 0.2em 5px rgba(122,122,122,0.5);
}


.modal-body {
  background: url(../img/bg.png);
  margin-top: 3px;
  height: 90px;
  font-size: 22px;
  padding-top: 30px;
  text-align: center;
  color: #535353;
}

.modal-footer {
  background: url(../img/paper.png);
  border-radius: 0 0 5px 5px
}

.footer-btn-yes {
  width: 100px;
  background: #6da351;
  color: white;
  font-size: 18px;
  box-shadow: 0.1em 0.1em 1px rgba(122,122,122,0.5);

}

.footer-btn-yes:hover {
  background: #58893e;
  color: #d8dad7;
}

.footer-btn-no {
  width: 100px;
  background: #d35959;
  color: white;
  font-size: 18px;
  box-shadow: 0.1em 0.1em 1px rgba(122,122,122,0.5);
  border: none;

}

.footer-btn-no:hover {
  background: #ba4d4d;
  color: #d8dad7;
}


