/* Шрифты */
@font-face {
  font-family: 'HelveticaNeueCyr_Bold';
  src: url('../HelveticaNeueCyr-Bold.eot');
  src: url('../HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'), url('../HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr_Medium';
  src: url('../HelveticaNeueCyr-Medium.eot');
  src: url('../HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'), url('../HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr_Roman';
  src: url('../HelveticaNeueCyr-Roman.eot');
  src: url('../HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'), url('../HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr_Black';
  src: url('../HelveticaNeueCyr-Black.eot');
  src: url('../HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'), url('../HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyr_Light';
  src: url('../HelveticaNeueCyr-Light.eot');
  src: url('../HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'), url('../HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* Миксины */
/* Цвет */
/* Базовые настройки */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
/* Оформление кнопок */
.button {
  color: white;
  background-color: #94ca2d;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-family: 'HelveticaNeueCyr_Bold', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 1.9rem 4.7rem;
  text-shadow: 0px 1px 2px #578f22;
}
.button:hover {
  background-color: #84b920;
  color: #d3d3d3;
}
/* Оформление форм*/
.order-form {
  border: solid 4px #21a3af;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 2.2rem;
  padding-top: 1.8rem;
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: #000;
}
.order-form h3 {
  font-family: 'HelveticaNeueCyr_Medium', sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.order-form input {
  display: block;
  margin: 0 auto;
  border: solid 2px #fff;
  border-radius: 3px;
  background-color: #000;
  font-size: 1.6rem;
  color: #fff;
  padding: 1.5rem 8rem 1.5rem 2rem;
  margin-bottom: 1rem;
}
.order-form select {
  display: block;
  margin: 0 auto;
  width: 27rem;
  height: 5rem;
  border: solid 2px #fff;
  border-radius: 3px;
  background-color: #000;
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1rem;
}
.order-form select:active,
.order-form select:focus {
  outline: none;
}
.order-form button {
  padding-left: 4.7rem;
  padding-right: 4.7rem;
}
.order-form p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1.7rem;
  margin-bottom: 2.6rem;
}
/* Header */
.header {
  background-color: rgba(0, 0, 0, 0.62);
  color: white;
  height: 8.5rem;
}
.logo {
  margin-right: 1rem;
  margin-top: -3.6rem;
}
.header_text {
  display: inline-block;
  font-family: 'HelveticaNeueCyr_Medium', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  line-height: 2.5rem;
  margin-top: 2rem;
}
.header_phone {
  font-family: 'HelveticaNeueCyr_Bold', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1rem;
}
.header_link {
  color: #94ca2d;
  font-size: 2rem;
  text-align: center;
  margin-top: -1rem;
  margin-left: 5.5rem;
}
.header_link:hover {
  text-decoration: none;
  color: #6d981b;
}
/* Секция Main */
.main {
  background: #000000 url(../img/main/main-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
}
.main_header {
  color: white;
  font-size: 3.9rem;
  font-family: 'HelveticaNeueCyr_Bold', sans-serif;
  font-weight: bold;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 3px 0px #272b25;
  margin-top: 11rem;
}
.main_action {
  color: white;
  font-size: 2rem;
  font-family: 'HelveticaNeueCyr_Medium', sans-serif;
}
.main_btn {
  width: 35%;
  display: block;
  margin: 4rem auto;
}
.main_btn:hover {
  text-decoration: none;
}
.main_glasses-img {
  margin-top: 5rem;
  margin-left: -3rem;
}
.main_dino-img {
  margin-top: 21rem;
  margin-left: -11rem;
}
a:hover {
  text-decoration: none;
}
@media (max-width: 991px) {
  .header {
    height: 17rem;
  }
  .main_btn {
    width: 65%;
  }
}
@media (max-width: 485px) {
  .logo {
    display: block;
    margin: 2rem auto 0;
  }
  .header_text {
    font-size: 1.5rem;
  }
  .header_phone {
    font-size: 2rem;
  }
  .header {
    height: 21rem;
  }
  .main_header {
    font-size: 2.5rem;
    margin-top: 5rem;
  }
  .main_action {
    font-size: 1.5rem;
  }
  .main_btn {
    width: 98%;
  }
}
