/* Шрифты */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-reg';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-light';
  src: url('../fonts/Roboto-Light.eot');
  src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Миксины */
/* Базовые настройки */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 10px;
}
.header {
  height: 182px;
  padding: 1rem 0 0 2rem;
  background-color: #00544e;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.header__title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}
.menu {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}
.menu__wrap {
  margin-top: 60px;
}
.menu__item {
  margin-bottom: 35px;
}
.menu__item a {
  font-size: 14px;
  color: #000;
}
.menu__item a:hover {
  text-decoration: none;
  color: #00544e;
  border-bottom: solid 1px #00544e;
}
.contact {
  background-color: #1f0000;
  min-height: 43px;
  margin-top: 112px;
}
.contact__title {
  text-align: center;
}
.contact__link {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.main {
  position: relative;
  margin-top: -20px;
  background: url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  min-height: 500px;
}
.main::after {
  background: transparent;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.5) 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.main__title {
  padding-top: 30px;
  padding-right: 30px;
  font-size: 35px;
  color: white;
  text-align: right;
  font-family: 'Roboto-light', sans-serif;
}
.main__date {
  margin-top: 200px;
  font-size: 35px;
  color: white;
  text-align: center;
  font-family: 'Roboto-light', sans-serif;
}
.main__button {
  position: absolute;
  z-index: 99;
  padding: 8px 25px 6px 25px;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  border-radius: 15px;
  background-color: #008bff;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto-light', sans-serif;
}
.main__button:hover {
  background-color: #026ec9;
  color: #d7d1ce;
}
.main__button:focus {
  outline: none;
}
.main__subtitle {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: 'Roboto-light', sans-serif;
}
.main__link {
  position: absolute;
  margin-top: -5px;
  z-index: 99;
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 51px;
  color: #d7d1ce;
  font-size: 10px;
  font-family: 'Roboto-light', sans-serif;
  border-bottom: solid 1px #d7d1ce;
}
.main__link:hover {
  text-decoration: none;
  color: white;
}
.main__link:focus {
  outline: none;
  text-decoration: none;
}
.speakers {
  font-family: 'Roboto', sans-serif;
  color: #000;
  margin-left: 20px;
  font-size: 20px;
  padding-bottom: 10px;
}
.avatar {
  display: block;
  margin: 0 auto;
  width: 90px;
}
.avatar__name {
  color: #000;
  font-family: 'Roboto-light', sans-serif;
  font-size: 9px;
}
.avatar__hr {
  display: inline-block;
  width: 15px;
  margin-top: -5px;
  margin-left: -46px;
  border: 0;
  border-bottom: 2px solid #00544e;
  background: #000;
}
.avatar__description {
  margin-top: -20px;
  margin-left: -10px;
  font-size: 7px;
  color: #00544e;
  font-family: 'Roboto-reg', sans-serif;
}
.description__wrap {
  display: block;
  margin: auto;
  width: 80%;
  text-align: left;
}
.description__align {
  text-align: center;
}
.become {
  margin-top: 7px;
  text-align: center;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.become__btn {
  position: relative;
  padding: 8px 25px 6px 25px;
  display: block;
  top: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  border-radius: 15px;
  background-color: #008bff;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto-light', sans-serif;
  font-size: 9px;
}
.become__btn:hover {
  background-color: #026ec9;
  color: #d7d1ce;
}
.become__btn:focus {
  outline: none;
}
#one {
  padding: 0;
  height: 500px;
}
