body {
  font-size: 24px;
}
.inset {
  border: none;
}
.nav-tabs > li > a {
  background-color: #fff;
  color: #080808;
  padding: 1px 13px;
  margin-bottom: 2px;
  border-bottom: 1px solid #047ca0;
}
.link {
  color: #fff;
}
.first-link {
  margin-left: 25px;
}
.second-link {
  margin-left: 8px;
}
.nav-tabs > li > a:hover {
  height: 38px;
  background-color: #03a5db;
  border-left: 1px solid #03a5db;
  border-bottom: 1px solid #03a5db;
  border-right: 1px solid #03a5db;
  border-top: 1px solid #84d4ee;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #03a5db;
  border-left: 1px solid #03a5db;
  border-bottom: 1px solid #03a5db;
  border-right: 1px solid #03a5db;
  border-top: 1px solid #84d4ee;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.content {
  width: 800px;
  height: 500px;
  background: url(../img/bg.jpg) center center no-repeat;
  margin: 50px auto;
  padding: 20px 90px;
}
.border {
  width: 625px;
  height: 405px;
  border-top: 20px solid #03a5da;
  border-bottom: 20px solid #0494bf;
  margin-top: -1px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 20px 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#03a5da), to(#0494bf)), -webkit-gradient(linear, left top, left bottom, from(#03a5da), to(#0494bf));
  background-image: linear-gradient(to bottom, #03a5da 0%, #0494bf 100%), linear-gradient(to bottom, #03a5da 0%, #0494bf 100%);
}
.form-body {
  margin-top: 70px;
}
.user-value {
  display: block;
  width: 480px;
  height: 55px;
  margin: 0 auto 25px;
  color: #fff;
  padding-left: 25px;
  border-radius: 5px;
  background-color: #1a1919;
  border: none;
  outline: none;
}
.form-password-info {
  display: block;
  color: #c51f03;
  font-size: 15px;
  margin-left: 100px;
}
.form-password-info:hover {
  color: #a5301c;
  text-decoration: none;
}
.checkbox {
  position: relative;
  left: 100px;
  top: 50px;
  display: inline-block;
  border: none;
  outline: none;
}
label {
  position: relative;
  top: 50px;
  left: 110px;
  font-size: 14px;
}
.enter-btn {
  margin-left: 505px;
  margin-top: 20px;
  display: block;
  color: #fff;
  border: none;
  background: radial-gradient(#ce3c29, #830601);
  padding: 5px 38px 5px 25px;
  outline: none;
}
.reg-btn {
  margin-left: 431px;
  margin-top: 56px;
  display: block;
  color: #fff;
  border: none;
  background: radial-gradient(#ce3c29, #830601);
  padding: 5px 38px 5px 25px;
  outline: none;
}
::-webkit-input-placeholder {
  color: #fff;
}
/* webkit */
::-moz-placeholder {
  color: #fff;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #fff;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #fff;
}
/* IE */
