@media (min-width: 480px) and (max-width: 768px){
  .header-logo{
    display: block;
    width: 100%;
  }
  .header-menu, .header-phone{
    display: none;
  }
  .slider-wrap {
    height: 265px;
  }
  .slider-logo{
    top: 33%;
    font-size: 68px;
  }
  .main{
    height: 980px;
  }
  .main-left-list{
    margin-top: -33px;
    text-align: center;
  }
  .main-right-list{
    text-align: center;
    padding-left: 0;
  }
  .main-list-item {
    margin: 30px 0 30px 0;
  }
  .main-list-item-icon-right{
    margin-right: 0;
  }
  .main-img{
    width: 255px;
  }
  .main-img-wrap{
    text-align: center;
  }
  .partners-img {
    height: 300px;
    width: 450px;
  }
  .partners {
    text-align: center;
    padding: 28px 0 0px 0;
  }
  .footer-contacts{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .footer-circle{
    top: 44px;
  }
}

@media (min-width: 769px) and (max-width: 991px){
  .header-logo{
    display: block;
    width: 100%;
  }
  .header-menu, .header-phone{
    display: none;
  }
  .slider-wrap {
    height: 421px;
  }
  .slider-logo{
    top: 33%;
    font-size: 68px;
  }
  .main{
    height: 980px;
  }
  .main-left-list{
    margin-top: -33px;
    text-align: center;
  }
  .main-right-list{
    text-align: center;
    padding-left: 0;
  }
  .main-list-item {
    margin: 30px 0 30px 0;
  }
  .main-list-item-icon-right{
    margin-right: 0;
  }
  .main-img{
    width: 255px;
  }
  .main-img-wrap{
    text-align: center;
  }
  .partners-img {
    height: 300px;
    width: 450px;
  }
  .partners {
    text-align: center;
    padding: 28px 0 0px 0;
  }
  .footer-contacts{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .footer-circle{
    top: 44px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .header-menu-list {
    font-size: 13px;
  }
  .header-phone-number {
    font-size: 13px;
    position: relative;
    top: -1px;
  }
  .header-phone-icon{
    position: relative;
    top: -1px;
  }
  .main-text {
    width: 185px;
    font-size: 21px;
  }
  .main-img {
    margin-top: 38px;
  }
  .main-list-item-icon-right {
    margin-right: 11px;
  }
  .main {
    height: 633px;
  }
  .footer {
    height: 665px;
  }
  .partners-img {
    width: 450px;
    height: 300px;
  }
  .partners {
    padding: 28px 0 0px 0;
  }
}
