@media (min-width: 320px) and (max-width: 479px) {
  .main {
    min-height: 580px;
  }
  .main_text {
    font-size: 1.7rem;
    margin-top: 30px;
  }
  .main_logo {
    margin-top: 10px;
  }
  .main_phone {
    font-size: 2rem;
    margin-left: 0;
    margin-top: 30px;
  }
  .main_button {
    margin-left: 0;
    margin-top: 30px;
  }
  .main_menu_wrap {
    margin-left: 0;
  }
  .main_list {
    margin-left: 0;
    padding-left: 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_list_item {
    margin-right: 0;
  }
  .main_link {
    padding-bottom: 20px;
  }
  .partners_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header {
    margin-top: 30px;
    font-size: 1.6rem;
  }
  .header::after {
    content: '';
    height: 0;
    width: 0;
  }
  .header::before {
    content: '';
    height: 0;
    width: 0;
  }
  .media-body {
    padding-top: 64px;
  }
  .amenities_wrap {
    padding: 0 8px;
    margin-top: -60px;
  }
  .amenities_row_one {
    margin-bottom: 0px;
  }
  .amenities_block {
    margin-bottom: 10px;
  }
  .description {
    min-height: 575px;
  }
  .description_img {
    height: 210px;
  }
  .description_header {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }
  .description_text_wrap {
    margin-left: 0;
  }
  .news_wrap {
    margin-bottom: 20px;
  }
  .news_date {
    text-align: center;
    margin-left: 0;
  }
  .client_form {
    padding: 0 20px;
  }
  .footer_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_wrap_img {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_wrap_img img {
    height: 60px;
  }
  .footer_menu {
    margin-top: 10px;
    text-align: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_link {
    margin-top: 20px;
    text-align: center;
  }
  .popup-dialog {
    width: 80%;
  }
  .popup-call {
    height: 380px;
  }
  .popup-order {
    height: 520px;
  }
}
@media (min-width: 480px) and (max-width: 766px) {
  .partners_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main {
    min-height: 490px;
  }
  .main_text {
    font-size: 1.7rem;
    margin-top: 30px;
  }
  .main_logo {
    margin-top: 10px;
  }
  .main_phone {
    font-size: 2rem;
    margin-left: 0;
    margin-top: 30px;
  }
  .main_button {
    margin-left: 0;
    margin-top: 30px;
  }
  .main_menu_wrap {
    margin-left: 0;
  }
  .main_list {
    margin-left: 0;
    padding-left: 0;
  }
  .main_link {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }
  .header {
    margin-top: 30px;
    font-size: 1.6rem;
  }
  .header::after {
    content: '';
    height: 0;
    width: 0;
  }
  .header::before {
    content: '';
    height: 0;
    width: 0;
  }
  .media-body {
    padding-top: 64px;
  }
  .amenities_wrap {
    padding: 0 50px;
    margin-top: -70px;
  }
  .amenities_row_one {
    margin-bottom: 0px;
  }
  .amenities_block {
    margin-bottom: 10px;
  }
  .description {
    min-height: 575px;
  }
  .description_img {
    height: 325px;
  }
  .description_header {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }
  .description_text_wrap {
    margin-left: 0;
  }
  .news_wrap {
    margin-bottom: 20px;
    padding: 20px 70px;
    text-align: center;
  }
  .news_date {
    text-align: center;
    margin-left: 0;
  }
  .news_img {
    width: 100%;
  }
  .client_form {
    padding: 0 20px;
  }
  .footer_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_wrap_img {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_wrap_img img {
    height: 60px;
  }
  .footer_menu {
    margin-top: 10px;
    text-align: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_link {
    margin-top: 20px;
    text-align: center;
  }
  .popup-dialog {
    width: 80%;
  }
  .popup-call {
    height: 380px;
  }
  .popup-order {
    height: 520px;
  }
}
@media (min-width: 767px) and (max-width: 990px) {
  .partners {
    min-height: 220px;
  }
  .partners_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: -30px;
  }
  .partners_label img {
    width: 150px;
  }
  .main {
    min-height: 700px;
  }
  .main_text {
    font-size: 1.2rem;
    margin-top: 47px;
  }
  .main_logo {
    margin-top: 25px;
  }
  .main_phone {
    font-size: 1.5rem;
    margin-left: 0;
    margin-top: 45px;
  }
  .main_button {
    margin-left: 0;
    margin-top: 38px;
  }
  .main_menu_wrap {
    margin-left: 0;
  }
  .main_list {
    margin-left: 0;
    padding-left: 0;
    margin-top: 25px;
  }
  .main_link {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }
  .main_slider_header {
    font-size: 4rem;
  }
  .slider {
    margin: -60px auto 0;
    width: 80%;
  }
  .prev {
    left: -10%;
  }
  .next {
    right: -10%;
  }
  .header {
    margin-top: 30px;
    font-size: 1.6rem;
  }
  .amenities_block {
    margin-bottom: 30px;
  }
  .description {
    min-height: 100%;
  }
  .description_img {
    height: 325px;
  }
  .description_header {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: left;
  }
  .description_text_wrap {
    margin-left: 0;
  }
  .news_row {
    margin-top: -15px;
  }
  .news_wrap {
    margin-bottom: 20px;
    text-align: center;
  }
  .news_name {
    font-size: 1rem;
  }
  .news_date {
    text-align: center;
    margin-left: 0;
  }
  .news_img {
    width: 100%;
  }
  .export {
    min-height: 450px;
  }
  .export_header {
    font-size: 4rem;
  }
  .client_form {
    padding: 0 20px;
  }
  .footer {
    min-height: 96px;
  }
  .footer_wrap_img img {
    height: 40px;
  }
  .footer_menu {
    margin-top: 40px;
    font-size: 1.2rem;
    text-align: center;
  }
  .footer_link {
    font-size: 1.2rem;
    margin-top: 41px;
    text-align: center;
  }
  .popup-dialog {
    width: 630px;
  }
  .popup-call {
    height: 310px;
  }
  .popup-order {
    height: 350px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .main {
    min-height: 800px;
  }
  .main_text {
    font-size: 1.2rem;
  }
  .main_decorline_left {
    margin-left: 92px;
  }
  .main_slider_header {
    font-size: 5.5rem;
  }
  .slider {
    margin: -60px auto 0;
    width: 80%;
  }
  .prev {
    left: -10%;
  }
  .next {
    right: -10%;
  }
  .export {
    min-height: 450px;
  }
  .export_header {
    font-size: 4rem;
  }
  .partners_wrap img {
    width: 200px;
  }
}
@media (min-width: 1201px) and (max-width: 1350px) {
  .slider {
    margin: -60px auto 0;
    width: 76%;
  }
  .prev {
    left: -10%;
  }
  .next {
    right: -10%;
  }
}
