body {
  background-image: url(http://www.jemome.com/cdn/2011/03/parchment-paper-free-downloads_1416086.jpg);
}

h1 {
  text-align: center;
  padding-left: 40px;
  text-transform: uppercase;
  color: #724130;
}

a {
  text-align: center;
  display: block;
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
  color: #724130;
}

h2 {
  text-align: center;
  padding-left: 40px;
  color: #3b398f;
}

img {
  padding: 5px;
  border: solid 4px;
}

.bold {
  font-weight: bold;
}

.strong {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.coursiv {
  font-style: oblique;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}






